<li class="nav-item dropdown">
    <% if current_user %>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-eng">
        <li><%= link_to "New Post", new_post_path, class:"dropdown-item" %>  
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Edit Account", edit_user_registration_path, class:"dropdown-item" %>  
        <li><%= button_to "Logout", destroy_user_session_path, class:"dropdown-item",
            data: {:confirm => 'Are you sure?'}, method: :delete %> </li>
        </ul>
    <% else %>
        <%
=begin%>
 <li><%= link_to "Login", new_user_session_path, class:"dropdown-item"%> </li>
        <li><%= link_to "Sign up", new_user_registration_path, class:"dropdown-item"%> </li> 
<%
=end%>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class:"nav-link"%> </li>
        <li  class="nav-item"><%= link_to "Sign up", new_user_registration_path, class:"nav-link"%> </li>
    <% end %>
</li> 