<%= form_with(model: post) do |form| %>
<% if post.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :body, style: "display: block" %>
  <%= form.textarea :body %>
</div>

<h4>Posting by: <%= link_to "#{current_user.name}", user_path(current_user.id)  %></h4>
<div>
  <%= form.submit %>
</div>
<% end %>